<div class="login-page">
    <div class="login-container">
        <div class="login-form">
            <u>LOGIN</u>
            <div class="input">
                <label for="email">email</label>
                <input pInputText id="email" aria-describedby="email-help" />
            </div>
            <div class="input">
                <label for="username">password</label>
                <p-password />
                <small id="forgot-password">
                    forgot password
                </small>
            </div>
            <p-checkbox label="remember me" />
        </div>
    </div>
</div>