.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 250px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.center-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    background-color: ;
}

.login-button-container{
    display: flex;
    align-items: center;
}
