.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.center-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.get-started-button{
    display: flex;
    align-items: center;
}
